html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("bg login.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.kotaka{
    position: absolute;
    width: 935px;
    height: 200px;
    left: 370px;
    top: 200px;

    background: #729FD6;
    border-radius: 25px;
}

.kotak{
    position: absolute;
    width: 1210px;
    height: 430px;
    left: 0px;
    top: 120px;
    background: #F2F4F6;
}

.logo{
    position: absolute;
    width: 317px;
    height: 83px;
    left: 450px;
    top: 25px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.teksb{
    position: absolute;
    top: 103%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
}

.scale{
    transform: scale(0.8) translate(-13%, -13%);
}

.foto{
    position: absolute;
    width: 812px;
    height: 408px; 
    left: 373px;
    top: 0px;
    background-image: url("fotologin.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
