html,body{
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("bg login.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.kotaka{
    position: absolute;
    width: 1210px;
    height: 610px;
    left: 80px;
    top: 20px;
     
    background: rgba(0, 0, 0, 0.5);
}

.kotak{
    position: absolute;
    width: 1210px;
    height: 430px;
    left: 0px;
    top: 120px;
    background: #F2F4F6;
}

.logo{
    position: absolute;
    width: 317px;
    height: 83px;
    left: 450px;
    top: 25px;
    background-image: url("logo.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.teksb{
    text-align: center;
    top: 700px;
    letter-spacing: 2px;
}

.scale{
    transform: scale(0.8) translate(-13%, -13%);
}

.foto{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 500px;
    top: -100px;
    background-image: url("fotologin.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/* Extra large devices (large desktops) */
/* No media query since the extra-large breakpoint has no upper bound on its width */
